/* ------------------- Elements ---------------------- */

body {
    font-family: sans-serif;
}

/* ------------------- Classes ---------------------- */

/* ------------------- ID's ---------------------- */

#mit-isbj-header {
    text-align: center;
}

#mit-adt-header {
    text-align: center;
}